.caixa__h1, .titulo {
  font-size: 4.78rem;
  line-height: 1;
}
@media (max-width: 48.125em) {
  .caixa__h1, .titulo {
    font-size: 3.98rem;
  }
}
@media (max-width: 30em) {
  .caixa__h1, .titulo {
    font-size: 3.32rem;
  }
}

.passo__titulo, .caixa__subtitulo, .subtitulo {
  font-size: 2.76rem;
  line-height: 1.2;
  font-weight: 700;
}

@media (max-width: 30em) {
  .subtitulo--pequeno {
    font-size: 2.3rem;
  }
}

.popup__botao, .botao {
  border-radius: 5rem;
  padding: 1rem 2.5rem;
  cursor: pointer;
  border: solid 0.2rem #000;
  border-width: 0.2rem;
  border-right-width: 0.4rem;
  border-bottom-width: 0.4rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.92rem;
}
.popup__botao:hover, .botao:hover {
  border-width: 0.3rem;
}

.popup__botao--amarelo, .botao--amarelo {
  color: #fff;
  background-color: #eebe2a;
  border-color: rgb(117.6130434783, 91.1086956522, 9.3869565217);
}

.botao--centralizado {
  align-self: center;
}

@media (max-width: 30em) {
  .botao--texto-pequeno {
    font-size: 1.6rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media (max-width: 60.625em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 54.125em) {
  html {
    font-size: 50%;
  }
}

img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/**
 * Basic typography style for copy text
 */
body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.4;
  font-size: 1.6rem;
  color: #1a1b1f;
}

b,
strong {
  font-weight: 600;
}

.titulo {
  font-weight: 500;
}
.titulo span {
  color: #256783;
  font-weight: 600;
}
@media (max-width: 30em) {
  .titulo--pequeno {
    font-size: 2.76rem;
  }
}

.subtitulo span {
  color: #eebe2a;
  font-weight: 600;
}
.secao {
  display: flex;
  flex-flow: column;
  padding: 6.1rem 2rem;
  overflow: hidden;
}
@media (max-width: 30em) {
  .secao {
    padding: 3.9rem 2rem;
  }
}

.container {
  display: flex;
  max-width: 100rem;
  margin: auto;
}

.grid {
  display: grid;
}

.caixa {
  z-index: 1;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: start;
  gap: 2rem;
  background-color: #f1f1f1;
  margin-bottom: 6.1rem;
  border-radius: 2.5rem;
  padding: 3.12rem 2.5rem;
  max-width: 50%;
  box-shadow: inset 0 0 1.2rem 0.3rem rgba(0, 0, 0, 0.25);
}
@media (max-width: 48.125em) {
  .caixa {
    margin-bottom: 0;
    max-width: 53rem;
  }
}
.caixa__div-logo {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(25%, -25%);
  background-color: #f1f1f1;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: start;
  gap: 0;
  width: 6.5rem;
  height: 6.5rem;
  padding: 1.1rem;
  border-radius: 50%;
  box-shadow: inset 0 0 0.8rem rgba(0, 0, 0, 0.2);
}
.caixa__titulos {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: start;
  gap: 0.85rem;
}
.caixa__h1 {
  color: #1c415c;
  text-align: center;
}
.caixa__subtitulo--cinza {
  color: #4b4b4b;
}
.caixa__lista {
  list-style: none;
  font-size: 1.92rem;
  line-height: 1.2;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: start;
  gap: 0.82rem;
}
.caixa__item-lista {
  display: flex;
  flex-flow: row nowrap;
  align-items: start;
  justify-content: start;
  gap: 0.82rem;
}
.caixa__icone {
  width: 1.8rem;
  margin-top: 0.21rem;
}

.passo {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: start;
  gap: 0.6rem;
}
.passo__cabecalho {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: start;
  gap: 0.8rem;
}
.passo__caixa-icone {
  width: 4.3rem;
  height: 4.3rem;
  padding: 0.82rem;
  border-radius: 0.8rem;
  background-color: #256783;
}
.passo__titulo--azul {
  color: #256783;
}

.rodape {
  padding: 4.88rem 2rem;
}
@media (max-width: 30em) {
  .rodape {
    padding: 2.5rem 2rem;
  }
}
.rodape__logo {
  width: 3.7rem;
  height: 3.7rem;
}
@media (max-width: 30em) {
  .rodape__logo {
    width: 5rem;
    height: 5rem;
  }
}
.rodape__textos {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: start;
  gap: 0.8rem;
}
@media (max-width: 30em) {
  .rodape__textos {
    flex-flow: column;
    align-items: center;
    gap: 0.52rem;
  }
  .rodape__textos p {
    display: none;
  }
}

.container--rodape {
  justify-content: end;
  align-items: center;
  gap: 0.8rem;
}
@media (max-width: 48.125em) {
  .container--rodape {
    justify-content: center;
  }
}
@media (max-width: 30em) {
  .container--rodape {
    flex-flow: column;
  }
}
.container--rodape a {
  text-decoration: none;
  color: inherit;
}

.popup--aberto .popup {
  display: flex;
}

.popup {
  z-index: 999999999;
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.925);
  backdrop-filter: blur(2.5px);
}
.popup__inputs {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: start;
  gap: 0.82rem;
}
.popup__input {
  border-radius: 5rem;
  border: solid 0.2rem #000;
  padding: 0.82rem 1.28rem;
  font-size: inherit;
}
.popup__input--amarelo {
  border-color: #eebe2a;
}
.popup__input:focus-visible {
  outline: none;
  box-shadow: 0 0 1rem rgba(238, 190, 42, 0.5);
}
.popup__fechar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 0;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(25%, -25%);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background-color: #fff;
  font-weight: 700;
  font-size: 1.92rem;
  border: 0.2rem solid #000;
  line-height: 1;
}
.popup__fechar:hover {
  border-width: 0.3rem;
}
.popup__fechar--amarelo {
  color: #fff;
  background-color: #eebe2a;
  border-color: rgb(117.6130434783, 91.1086956522, 9.3869565217);
}
.popup__container {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: start;
  gap: 2rem;
  position: relative;
  width: 50rem;
  background-color: #fff;
  padding: 3.12rem 3.9rem;
  border-radius: 2.5rem;
  box-shadow: inset 0 0 0.8rem 0.2rem rgba(0, 0, 0, 0.15);
}
@media (max-width: 30em) {
  .popup {
    max-width: 100%;
    padding: 2rem;
  }
}

.secao--hero {
  background-image: url(https://assets-global.website-files.com/61b9e0dd381626819c8d4f83/64957938a8a62d8071397ed5_pgc-python-bg1.webp);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 0;
}
.secao--disclaimer {
  padding: 3.12rem 2rem;
  background-color: #e1e1e1;
  box-shadow: 0 0.5rem 1.5rem -0.2rem rgba(0, 0, 0, 0.5);
}
.secao--quem {
  background-image: url(https://assets-global.website-files.com/61b9e0dd381626819c8d4f83/62cefb1ecf7f4662905b5b1e_%5BBACKGROUND%5D%20-%20BANNER%2005%20-%20desktop.webp);
  background-position-x: 50%;
  background-position-y: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 0;
  padding-top: 21rem;
  margin-top: -9rem;
}
@media (max-width: 48.125em) {
  .secao--quem {
    padding-top: 32rem;
    margin-top: -24rem;
  }
}
@media (max-width: 30em) {
  .secao--quem {
    padding-top: 34rem;
    margin-top: -26rem;
  }
}

.container--hero {
  width: 100%;
  position: relative;
  align-items: end;
}
@media (max-width: 48.125em) {
  .container--hero {
    flex-flow: column;
    align-items: center;
  }
}
.container--passo, .container--aprender {
  display: flex;
  flex-flow: column nowrap;
  align-items: start;
  justify-content: start;
  gap: 6rem;
}
@media (max-width: 48.125em) {
  .container--passo, .container--aprender {
    gap: 3.9rem;
  }
}
.container--quem {
  position: relative;
  width: 100%;
}
@media (max-width: 48.125em) {
  .container--quem {
    flex-flow: column;
    align-items: center;
    gap: 3.12rem;
  }
}

.grid--passo {
  grid-template-columns: repeat(3, 1fr);
  row-gap: 6rem;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
}
@media (max-width: 48.125em) {
  .grid--passo {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3.12rem;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
}
@media (max-width: 30em) {
  .grid--passo {
    grid-template-columns: repeat(1, 1fr);
  }
}
.grid--aprender {
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}
@media (max-width: 48.125em) {
  .grid--aprender {
    gap: 2rem;
  }
}
@media (max-width: 30em) {
  .grid--aprender {
    grid-template-columns: repeat(1, 1fr);
    gap: 3.12rem;
    align-self: center;
  }
}

.div-lira {
  position: absolute;
  display: flex;
  width: 70%;
  right: 0;
  bottom: 0;
  transform: translateX(10%);
}
@media (max-width: 48.125em) {
  .div-lira {
    position: relative;
    transform: none;
    gap: 3.12rem;
    width: 100%;
  }
}

.disclaimer__paragrafo {
  font-size: 1.33rem;
}

.img-lira {
  grid-column: 2;
  grid-row: 1/span 2;
  align-self: center;
}
@media (max-width: 48.125em) {
  .img-lira {
    justify-self: center;
    max-width: 27.5rem;
    grid-row: auto;
    grid-column: 1/span 2;
  }
}
@media (max-width: 30em) {
  .img-lira {
    grid-column: auto;
  }
}

.cabecalho-titulo {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: start;
  gap: 1.6rem;
}

.aprender-img {
  border-radius: 2rem;
  transition: transform ease 0.2s;
}
.aprender-img:hover {
  transform: scale(1.05);
}
@media (max-width: 30em) {
  .aprender-img {
    max-width: 48rem;
  }
}

.quem {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: start;
  gap: 3.12rem;
  color: #fff;
  max-width: 50%;
  width: 100%;
  margin-bottom: 6.1rem;
}
@media (max-width: 48.125em) {
  .quem {
    max-width: 53rem;
    margin-bottom: 0;
  }
}
.quem__cabecalho {
  border-left: solid 0.4rem #eebe2a;
  padding-left: 2rem;
}
.quem__textos {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: start;
  gap: 1.6rem;
}
.quem__textos span {
  color: #eebe2a;
  font-weight: 600;
}

.img-lira-logo {
  position: absolute;
  width: 45%;
  right: 0;
  bottom: 0;
}
@media (max-width: 48.125em) {
  .img-lira-logo {
    position: relative;
    max-width: 40rem;
    width: 100%;
  }
}

.img-seta {
  width: 4.1rem;
}
@media (max-width: 48.125em) {
  .img-seta {
    width: 3.5rem;
  }
}
@media (max-width: 30em) {
  .img-seta {
    width: 3rem;
  }
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3Nhc3MvYWJzdHJhY3RzL19oZWxwZXJzLnNjc3MiLCJzdHlsZS5jb21wLmNzcyIsIi4uL3Nhc3MvYmFzZS9fYmFzZS5zY3NzIiwiLi4vc2Fzcy9iYXNlL190eXBvZ3JhcGh5LnNjc3MiLCIuLi9zYXNzL2xheW91dC9fbGF5b3V0LnNjc3MiLCIuLi9zYXNzL2NvbXBvbmVudHMvY2FpeGEuc2NzcyIsIi4uL3Nhc3MvY29tcG9uZW50cy9fcGFzc28uc2NzcyIsIi4uL3Nhc3MvY29tcG9uZW50cy9mb290ZXIuc2NzcyIsIi4uL3Nhc3MvY29tcG9uZW50cy9wb3B1cC5zY3NzIiwiLi4vc2Fzcy9wYWdlcy9faG9tZS5zY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQStDQTtFQUNFLGtCQUFBO0VBQ0EsY0FBQTtBQzlDRjtBRGdDSTtFQVlKO0lBS0ksa0JBQUE7RUM3Q0Y7QUFDRjtBRCtCSTtFQVFKO0lBU0ksa0JBQUE7RUM1Q0Y7QUFDRjs7QUQrQ0E7RUFDRSxrQkFBQTtFQUNBLGdCQUFBO0VBQ0EsZ0JBQUE7QUM1Q0Y7O0FEb0JJO0VBMEJKO0lBRUksaUJBQUE7RUMzQ0Y7QUFDRjs7QUQ4Q0E7RUFDRSxtQkFBQTtFQUNBLG9CQUFBO0VBQ0EsZUFBQTtFQUNBLHlCQUFBO0VBQ0Esb0JBQUE7RUFDQSwwQkFBQTtFQUNBLDJCQUFBO0VBQ0EseUJBQUE7RUFDQSxnQkFBQTtFQUNBLGtCQUFBO0FDM0NGO0FENkNFO0VBQ0Usb0JBQUE7QUMzQ0o7O0FEK0NBO0VBQ0UsV0FBQTtFQUNBLHlCQWxGWTtFQW1GWiw4REFBQTtBQzVDRjs7QUQrQ0E7RUFDRSxrQkFBQTtBQzVDRjs7QURaSTtFQTBESjtJQUVJLGlCQUFBO0VDM0NGO0FBQ0Y7O0FDbkRBO0VBQ0UsU0FBQTtFQUNBLFVBQUE7RUFDQSxzQkFBQTtBRHNERjs7QUNuREE7RUFDRSxnQkFBQTtBRHNERjtBRHhDSTtFRWZKO0lBSUksaUJBQUE7RUR1REY7QUFDRjtBRHpDSTtFRW5CSjtJQVFJLGNBQUE7RUR3REY7QUFDRjs7QUNyREE7RUFDRSxlQUFBO0VBQ0EsY0FBQTtFQUNBLFdBQUE7QUR3REY7O0FFakZBOztFQUFBO0FBSUE7RUFDRSxxQ0FBQTtFQUNBLGdCQUFBO0VBQ0EsaUJBQUE7RUFDQSxjSFJVO0FDMkZaOztBRWhGQTs7RUFFRSxnQkFBQTtBRm1GRjs7QUVoRkE7RUFFRSxnQkFBQTtBRmtGRjtBRWhGRTtFQUNFLGNIakJhO0VHa0JiLGdCQUFBO0FGa0ZKO0FEbkVJO0VHWkY7SUFFSSxrQkFBQTtFRmlGSjtBQUNGOztBRTNFRTtFQUNFLGNIN0JVO0VHOEJWLGdCQUFBO0FGOEVKO0FHbEhBO0VBQ0UsYUFBQTtFQUNBLGlCQUFBO0VBQ0Esb0JBQUE7RUFDQSxnQkFBQTtBSG9IRjtBRG5GSTtFSXJDSjtJQU9JLG9CQUFBO0VIcUhGO0FBQ0Y7O0FHbEhBO0VBQ0UsYUFBQTtFQUNBLGlCQUFBO0VBQ0EsWUFBQTtBSHFIRjs7QUdsSEE7RUFDRSxhQUFBO0FIcUhGOztBSXZJQTtFQUNFLFVBQUE7RUFDQSxrQkFBQTtFTGNBLGFBQUE7RUFDQSx3QkFBQTtFQUNBLG1CS2Y4QztFTGdCOUMsc0JBTlU7RUFPVixTS2pCNEQ7RUFDNUQseUJMSGdCO0VLSWhCLHFCQUFBO0VBQ0EscUJBQUE7RUFDQSx1QkFBQTtFQUNBLGNBQUE7RUFDQSx1REFBQTtBSjhJRjtBRHRISTtFS2pDSjtJQVlJLGdCQUFBO0lBQ0EsZ0JBQUE7RUorSUY7QUFDRjtBSTdJRTtFQUNFLGtCQUFBO0VBQ0EsTUFBQTtFQUNBLFFBQUE7RUFDQSwrQkFBQTtFQUNBLHlCTHBCYztFQWVoQixhQUFBO0VBQ0EscUJBQUE7RUFDQSxtQktJNEI7RUxINUIsc0JBTlU7RUFPVixNQU5NO0VLU0osYUFBQTtFQUNBLGNBQUE7RUFDQSxlQUFBO0VBQ0Esa0JBQUE7RUFDQSwrQ0FBQTtBSm1KSjtBSWhKRTtFTGRBLGFBQUE7RUFDQSx3QkFBQTtFQUNBLG1CS2FnRDtFTFpoRCxzQkFOVTtFQU9WLFlLVzhEO0FKc0poRTtBSW5KRTtFQUVFLGNML0JjO0VLZ0NkLGtCQUFBO0FKb0pKO0FJOUlJO0VBQ0UsY0x6Q2E7QUN5TG5CO0FJNUlFO0VBQ0UsZ0JBQUE7RUFDQSxrQkFBQTtFQUNBLGdCQUFBO0VMbkNGLGFBQUE7RUFDQSx3QkFBQTtFQUNBLG9CQU5RO0VBT1Isc0JBTlU7RUFPVixZS2dDOEM7QUprSmhEO0FJL0lFO0VMdkNBLGFBQUE7RUFDQSxxQkFBQTtFQUNBLGtCS3NDNEI7RUxyQzVCLHNCQU5VO0VBT1YsWUtvQ3lDO0FKcUozQztBSWxKRTtFQUNFLGFBQUE7RUFDQSxtQkFBQTtBSm9KSjs7QUtqTkE7RU5nQkUsYUFBQTtFQUNBLHdCQUFBO0VBQ0Esb0JBTlE7RUFPUixzQkFOVTtFQU9WLFdNbkI0QztBTHdOOUM7QUt2TkU7RU5jQSxhQUFBO0VBQ0EscUJBQUE7RUFDQSxtQk1mNEI7RU5nQjVCLHNCQU5VO0VBT1YsV01qQjBDO0FMNk41QztBSzFORTtFQUNFLGFBQUE7RUFDQSxjQUFBO0VBQ0EsZ0JBQUE7RUFDQSxxQkFBQTtFQUNBLHlCTlBhO0FDbU9qQjtBS3ROSTtFQUNFLGNOZFc7QUNzT2pCOztBTTFPQTtFQUNFLHFCQUFBO0FONk9GO0FEek1JO0VPckNKO0lBSUksb0JBQUE7RU44T0Y7QUFDRjtBTTdPRTtFQUNFLGFBQUE7RUFDQSxjQUFBO0FOK09KO0FEbE5JO0VPL0JGO0lBS0ksV0FBQTtJQUNBLFlBQUE7RU5nUEo7QUFDRjtBTTdPRTtFUEFBLGFBQUE7RUFDQSxxQkFBQTtFQUNBLG9CQU5RO0VBT1Isc0JBTlU7RUFPVixXT0gwQjtBTm1QNUI7QUQvTkk7RU9yQkY7SUFJSSxpQkFBQTtJQUNBLG1CQUFBO0lBQ0EsWUFBQTtFTm9QSjtFTWxQSTtJQUNFLGFBQUE7RU5vUE47QUFDRjs7QU0vT0E7RUFDRSxvQkFBQTtFQUNBLG1CQUFBO0VBQ0EsV0FBQTtBTmtQRjtBRG5QSTtFT0ZKO0lBTUksdUJBQUE7RU5tUEY7QUFDRjtBRHBQSTtFT05KO0lBVUksaUJBQUE7RU5vUEY7QUFDRjtBTWxQRTtFQUNFLHFCQUFBO0VBQ0EsY0FBQTtBTm9QSjs7QU9qU0U7RUFDRSxhQUFBO0FQb1NKOztBT2hTQTtFQUNFLGtCQUFBO0VBQ0EsYUFBQTtFQUNBLHVCQUFBO0VBQ0EsbUJBQUE7RUFDQSxlQUFBO0VBQ0EsTUFBQTtFQUNBLFNBQUE7RUFDQSxRQUFBO0VBQ0EsT0FBQTtFQUNBLDRDQUFBO0VBQ0EsNEJBQUE7QVBtU0Y7QU9qU0U7RVJIQSxhQUFBO0VBQ0Esd0JBQUE7RUFDQSxvQkFOUTtFQU9SLHNCQU5VO0VBT1YsWUFBQTtBQ3VTRjtBT3BTRTtFQUNFLG1CQUFBO0VBQ0EseUJBQUE7RUFDQSx3QkFBQTtFQUNBLGtCQUFBO0FQc1NKO0FPcFNJO0VBQ0UscUJSeEJRO0FDOFRkO0FPblNJO0VBQ0UsYUFBQTtFQUNBLDRDQUFBO0FQcVNOO0FPMVJFO0VSOUJBLGFBQUE7RUFDQSxxQkFBQTtFQUNBLG1CUTZCOEM7RVI1QjlDLHVCUTRCOEI7RVIzQjlCLE1BTk07RVFrQ0osZUFBQTtFQUNBLGtCQUFBO0VBQ0EsTUFBQTtFQUNBLFFBQUE7RUFDQSwrQkFBQTtFQUNBLGFBQUE7RUFDQSxjQUFBO0VBQ0Esa0JBQUE7RUFDQSxzQkFBQTtFQUNBLGdCQUFBO0VBQ0Esa0JBQUE7RUFDQSx5QkFBQTtFQUNBLGNBQUE7QVBnU0o7QU85Ukk7RUFDRSxvQkFBQTtBUGdTTjtBTzdSSTtFQUNFLFdBQUE7RUFDQSx5QlI5RFE7RVErRFIsOERBQUE7QVArUk47QU8zUkU7RVJ6REEsYUFBQTtFQUNBLHdCQUFBO0VBQ0Esb0JBTlE7RUFPUixzQkFOVTtFQU9WLFNRc0Q4QztFQUM1QyxrQkFBQTtFQUNBLFlBQUE7RUFDQSxzQkFBQTtFQUNBLHVCQUFBO0VBQ0EscUJBQUE7RUFDQSx1REFBQTtBUGlTSjtBRDVVSTtFUS9CSjtJQTZFSSxlQUFBO0lBQ0EsYUFBQTtFUGtTRjtBQUNGOztBUXRYRTtFQUNFLG9JQUFBO0VBQ0Esd0JBQUE7RUFDQSw0QkFBQTtFQUNBLHNCQUFBO0VBQ0EsaUJBQUE7QVJ5WEo7QVF0WEU7RUFDRSxxQkFBQTtFQUNBLHlCVFRRO0VTVVIsc0RBQUE7QVJ3WEo7QVFyWEU7RUFDRSxzS0FBQTtFQUNBLDBCQUFBO0VBQ0EsMkJBQUE7RUFDQSxzQkFBQTtFQUNBLDRCQUFBO0VBQ0EsaUJBQUE7RUFDQSxrQkFBQTtFQUNBLGlCQUFBO0FSdVhKO0FEN1dJO0VTbEJGO0lBV0ksa0JBQUE7SUFDQSxrQkFBQTtFUndYSjtBQUNGO0FEL1dJO0VTdEJGO0lBZ0JJLGtCQUFBO0lBQ0Esa0JBQUE7RVJ5WEo7QUFDRjs7QVFwWEU7RUFDRSxXQUFBO0VBQ0Esa0JBQUE7RUFDQSxnQkFBQTtBUnVYSjtBRC9YSTtFU0tGO0lBTUksaUJBQUE7SUFDQSxtQkFBQTtFUndYSjtBQUNGO0FRclhFO0VUakNBLGFBQUE7RUFDQSx3QkFBQTtFQUNBLGtCU2lDNEQ7RVRoQzVELHNCQU5VO0VBT1YsU1MrQjhDO0FSMFhoRDtBRDVZSTtFU2dCRjtJQUtJLFdBQUE7RVIyWEo7QUFDRjtBUXhYRTtFQUNFLGtCQUFBO0VBQ0EsV0FBQTtBUjBYSjtBRHJaSTtFU3lCRjtJQUtJLGlCQUFBO0lBQ0EsbUJBQUE7SUFDQSxZQUFBO0VSMlhKO0FBQ0Y7O0FRdFhFO0VBQ0UscUNBQUE7RUFDQSxhQUFBO0VBQ0EscUJBQUE7T0FBQSxnQkFBQTtBUnlYSjtBRGxhSTtFU3NDRjtJQU1JLHFDQUFBO0lBQ0EsZ0JBQUE7SUFDQSxxQkFBQTtTQUFBLGdCQUFBO0VSMFhKO0FBQ0Y7QURyYUk7RVNrQ0Y7SUFZSSxxQ0FBQTtFUjJYSjtBQUNGO0FRelhFO0VBQ0UscUNBQUE7RUFDQSxTQUFBO0FSMlhKO0FEbGJJO0VTcURGO0lBS0ksU0FBQTtFUjRYSjtBQUNGO0FEbmJJO0VTaURGO0lBU0kscUNBQUE7SUFDQSxZQUFBO0lBQ0Esa0JBQUE7RVI2WEo7QUFDRjs7QVF6WEE7RUFDRSxrQkFBQTtFQUNBLGFBQUE7RUFDQSxVQUFBO0VBQ0EsUUFBQTtFQUNBLFNBQUE7RUFDQSwwQkFBQTtBUjRYRjtBRHZjSTtFU3FFSjtJQVNJLGtCQUFBO0lBQ0EsZUFBQTtJQUNBLFlBQUE7SUFDQSxXQUFBO0VSNlhGO0FBQ0Y7O0FRMVhBO0VBQ0Usa0JBQUE7QVI2WEY7O0FRMVhBO0VBQ0UsY0FBQTtFQUNBLGtCQUFBO0VBQ0Esa0JBQUE7QVI2WEY7QUR6ZEk7RVN5Rko7SUFNSSxvQkFBQTtJQUNBLGtCQUFBO0lBQ0EsY0FBQTtJQUNBLHFCQUFBO0VSOFhGO0FBQ0Y7QUQ3ZEk7RVNxRko7SUFhSSxpQkFBQTtFUitYRjtBQUNGOztBUTVYQTtFVDNIRSxhQUFBO0VBQ0EscUJBQUE7RUFDQSxtQlMwSDBCO0VUekgxQixzQkFOVTtFQU9WLFdTd0h3QztBUm1ZMUM7O0FRaFlBO0VBQ0UsbUJBQUE7RUFDQSwrQkFBQTtBUm1ZRjtBUWxZRTtFQUNFLHNCQUFBO0FSb1lKO0FEbGZJO0VTMEdKO0lBUUksZ0JBQUE7RVJvWUY7QUFDRjs7QVFqWUE7RVQzSUUsYUFBQTtFQUNBLHdCQUFBO0VBQ0Esb0JBTlE7RUFPUixzQkFOVTtFQU9WLFlTd0k0QztFQUM1QyxXQUFBO0VBQ0EsY0FBQTtFQUNBLFdBQUE7RUFDQSxxQkFBQTtBUndZRjtBRHZnQkk7RVMwSEo7SUFRSSxnQkFBQTtJQUNBLGdCQUFBO0VSeVlGO0FBQ0Y7QVF2WUU7RUFDRSxpQ0FBQTtFQUNBLGtCQUFBO0FSeVlKO0FRdFlFO0VUNUpBLGFBQUE7RUFDQSx3QkFBQTtFQUNBLG9CQU5RO0VBT1Isc0JBTlU7RUFPVixXU3lKOEM7QVI0WWhEO0FRMVlJO0VBQ0UsY1QxS1E7RVMyS1IsZ0JBQUE7QVI0WU47O0FRdllBO0VBQ0Usa0JBQUE7RUFDQSxVQUFBO0VBQ0EsUUFBQTtFQUNBLFNBQUE7QVIwWUY7QURuaUJJO0VTcUpKO0lBT0ksa0JBQUE7SUFDQSxnQkFBQTtJQUNBLFdBQUE7RVIyWUY7QUFDRjs7QVF6WUE7RUFDRSxhQUFBO0FSNFlGO0FEOWlCSTtFU2lLSjtJQUdJLGFBQUE7RVI4WUY7QUFDRjtBRC9pQkk7RVM2Sko7SUFPSSxXQUFBO0VSK1lGO0FBQ0YiLCJmaWxlIjoic3R5bGUucHJlZml4LmNzcyJ9 */