<<<<<<< HEAD
/* * {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

h1 {
  text-align: center;
  margin: 2rem;
  font-size: 3rem;
} */
=======
/* * {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

h1 {
  text-align: center;
  margin: 2rem;
  font-size: 3rem;
} */
>>>>>>> 5e29ff19378e07df7d801c124942f540bcda1524
