/* Configuração padrão */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat" sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
  color: #303030;
}

/* Estilização */

#bola {
  position: relative;
  width: 15rem;
  height: 15rem;
  background-color: red;
  border-radius: 50%;
  box-shadow: inset -1rem -1rem 2rem rgba(0, 0, 0, 0.4);
  transform: translate(5rem, 37rem);
  z-index: 9999;
  animation: 2.5s linear 0.5s infinite alternate both running animacaoBola;
}

#sombra {
  width: 13rem;
  height: 13rem;
  background-color: rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 0.8rem 0.9rem rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  transform: translate(5rem, 30rem);
  animation: 2.5s linear 0.5s infinite alternate both running animacaoSombra;
}

@keyframes animacaoBola {
  0% {
    transform: translate(5rem, 37rem);
  }

  25% {
    transform: translate(25rem, 7rem);
  }

  50% {
    transform: translate(45rem, 37rem);
  }

  75% {
    transform: translate(65rem, 7rem);
  }

  100% {
    transform: translate(85rem, 37rem);
  }
}

@keyframes animacaoSombra {
  0% {
    transform: translate(5rem, 30rem);
    width: 13rem;
    height: 13rem;
  }

  25% {
    transform: translate(25rem, 30rem);
    width: 16rem;
    height: 16rem;
  }

  50% {
    transform: translate(45rem, 30rem);
    width: 13rem;
    height: 13rem;
  }

  75% {
    transform: translate(65rem, 30rem);
    width: 16rem;
    height: 16rem;
  }

  100% {
    transform: translate(85rem, 30rem);
    width: 13rem;
    height: 13rem;
  }
}
