@use "../abstracts/helpers" as abs;

.popup--aberto {
  & .popup {
    display: flex;
  }
}

.popup {
  z-index: 999999999;
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.925);
  backdrop-filter: blur(2.5px);

  &__inputs {
    @include abs.flex($direction: column, $gap: 0.82rem);
  }

  &__input {
    border-radius: 5rem;
    border: solid 0.2rem #000;
    padding: 0.82rem 1.28rem;
    font-size: inherit;

    &--amarelo {
      border-color: abs.$cor-amarelo;
    }

    &:focus-visible {
      outline: none;
      box-shadow: 0 0 1rem rgba(abs.$cor-amarelo, 0.5);
    }
  }

  &__botao {
    @extend %botao;
    &--amarelo {
      @extend %botao--amarelo;
    }
  }

  &__fechar {
    @include abs.flex($justify: center, $align: center);
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(25%, -25%);
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background-color: #fff;
    font-weight: 700;
    font-size: 1.92rem;
    border: 0.2rem solid #000;
    line-height: 1;

    &:hover {
      border-width: 0.3rem;
    }

    &--amarelo {
      color: #fff;
      background-color: abs.$cor-amarelo;
      border-color: darken(abs.$cor-amarelo, 30%);
    }
  }

  &__container {
    @include abs.flex($direction: column, $gap: 2rem);
    position: relative;
    width: 50rem;
    background-color: #fff;
    padding: 3.12rem 3.9rem;
    border-radius: 2.5rem;
    box-shadow: inset 0 0 0.8rem 0.2rem rgba(0, 0, 0, 0.15);
  }
  @include abs.respond(tiny) {
    max-width: 100%;
    padding: 2rem;
  }
}
