:root {
  /* Tamanho de Fonte */
  /* Minor third - 1.2 */
  --fs-100: 0.9258rem;
  --fs-200: 1.111rem;
  --fs-300: 1.214rem;
  --fs-400: 1.6rem;
  --fs-500: 1.92rem;
  --fs-600: 2.034rem;
  --fs-700: 2.765rem;
  --fs-800: 3.318rem;
  --fs-900: 3.981rem;
  --fs-1000: 4.778rem;

  /* Tamanho de espaçamento */
  /* Major third - 1.25 */
  --spc-100: 0.8192rem;
  --spc-200: 1.024rem;
  --spc-300: 1.28rem;
  --spc-400: 1.6rem;
  --spc-500: 2rem;
  --spc-600: 2.5rem;
  --spc-700: 3.125rem;
  --spc-800: 3.906rem;
  --spc-900: 4.883rem;
  --spc-1000: 6.184rem;

  /* Cores - HSL = Hue (Matiz) Saturation Lightness*/
  /* Cor Principal */
  --clr-p-100: hsl(214, 93%, 78%);
  --clr-p-200: hsl(214, 93%, 68%);
  --clr-p-300: hsl(214, 93%, 58%);
  --clr-p-400: hsl(214, 93%, 48%);
  --clr-p-500: hsl(214, 93%, 38%);
  --clr-p-600: hsl(214, 93%, 28%);
  --clr-p-700: hsl(214, 93%, 18%);
  --clr-p-800: hsl(214, 93%, 8%);
  --clr-p-900: hsl(214, 93%, 4%);

  /* Cor Complementar/Secundária - Hue - 180 */
  --clr-s-100: hsl(34, 93%, 78%);
  --clr-s-200: hsl(34, 93%, 68%);
  --clr-s-300: hsl(34, 93%, 58%);
  --clr-s-400: hsl(34, 93%, 48%);
  --clr-s-500: hsl(34, 93%, 38%);
  --clr-s-600: hsl(34, 93%, 28%);
  --clr-s-700: hsl(34, 93%, 18%);
  --clr-s-800: hsl(34, 93%, 8%);
  --clr-s-900: hsl(34, 93%, 4%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  min-width: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 1.6rem;
  line-height: 1.2;
}

img,
iframe,
video,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

main {
  padding: var(--spc-600);
}

.carrossel {
  width: 100%;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    transparent,
    white 10%,
    white 90%,
    transparent
  );
}

.itens {
  display: flex;
  gap: var(--spc-200);
  width: max-content;

  animation: carrossel infinite 20s linear;
}

.item {
  display: flex;
  gap: var(--spc-200);
  padding: var(--spc-200) var(--spc-600);
  border-radius: 100vw;
  background-color: var(--clr-p-500);
  color: white;
  align-items: center;

  img {
    max-height: 2.5rem;
    width: auto;
  }
}

@keyframes carrossel {
  to {
    transform: translateX(calc(-50% - (1.024rem / 2)));
  }
}
