* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  line-height: 1.2;
  color: #303030;
}

#acordeao {
  display: flex;
  flex-flow: column;
  gap: 2.12rem;
  margin: 5rem;
}

.caixa-acordeao {
  background-color: #ffffff;
  color: #000000;
  border-radius: 4rem;
  box-shadow: 0 0 0.6rem 0 rgba(0, 0, 0, 0.2);

  & p {
    color: #000000;
    font-size: 2rem;
  }

  & .paragrafo-caixa {
    display: none;
  }
}

.caixa-acordeao.select {
  & h2 {
    color: #ffffff;
  }
  & .caixa-completa {
    background-color: #754200;
    border-top-left-radius: 4rem;
    border-top-right-radius: 4rem;
    & p {
      color: #ffffff;
      font-size: 2rem;
    }
  }
  &,
  .paragrafo-caixa {
    display: flex;
    flex-flow: column;
  }
}

.caixa-completa {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem;
  font-size: 1.3rem;
}

.paragrafo-caixa {
  display: flex;
  flex-flow: column;
  gap: 1.5rem;
  background-color: #fff0dd;
  padding: 3.12rem;
  border-bottom-left-radius: 4rem;
  border-bottom-right-radius: 4rem;

  & p {
    font-size: 1.6rem;
    color: #754200;
  }
}
